<!DOCTYPE html>

<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jonathan Cahal, BSE Computer Systems</title>
  <meta name="description" content="My Schnazzy Personal Webpage">

  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
  <link href="assets/css/all.min.css" rel="stylesheet"> <!-- FontAwesome -->
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" >

</head>

  <body>
    <div id="app">
      <header>
        <div id="particles">
          <section class="info">
            <h1>Jonathan Cahal</h1>
            <p>Computer Systems Engineer</p>
            <div>
              <a aria-label="Send email" href="mailto:jacahal@gmail.com"><i class="icon-info fa fa-paper-plane" aria-hidden="true"></i></a>
              <a aria-label="My Github" target="_blank" href="https://github.com/jcahal"><i class="icon-info fab fa-github-alt" aria-hidden="true"></i></a>
              <a aria-label="My Resumé" target="_blank" href="https://jcahal.github.io/assets/JonathanCahal.pdf"><i class="icon-info fas fa-user-alt"></i></span></a>
            </div>
          </section>
        </div>
      </header>
      <main>
        <h1 class="projects-title">Projects</h1>
        <div class="projects">
          <section v-for="project in projects" class="project">
            <h1>{{ project.name }}</h1>
            <img class="project-image" v-bind:src="'https://firebasestorage.googleapis.com/v0/b/jcahal-github-io.appspot.com/o/' + project.image + '?alt=media&token=345364ce-53da-4853-927d-18c256eb8083'" v-bind:alt="project.image"/>
            <p>{{ project.description }}</p>
            <a v-bind:href="project.url"><i class="icon-project fas fa-globe" aria-hidden="true"></i></span></a>
            <a v-bind:href="project.source"><i class="icon-project fab fa-github-alt" aria-hidden="true"></i></span></a>
          </section>
        </div>
        <h1 class="skills-title">Skills</h1>
        <div class="skills">
          <ul>
            <li v-for="skill in skills">
              {{ skill.name }}<br>
              <i v-for="level in parseInt(skill.level, 10)" class="fas fa-star"></i>
            </li>
          </ul>
        </div>
      </main>
      <footer>
        <div id="built-with">
          <a href="https://vuejs.org">
            <img src="assets/images/vue-logo.png" />
          </a>
          <img src="assets/images/plus.png" />
          <a href="https://firebase.google.com">
            <img src="assets/images/firebase-logo.png" />
          </a>
        </div>
      </footer>
    </div>

    <div>
      <aside id="admin" class="hide">
        <div id="admin-sign-in">
          <h3>Sign in</h3>
          <input type="email" name="admin-email" id="admin-email" placeholder="Email">
          <input type="password" name="admin-password" id="admin-password" placeholder="Password">
          <input type="button" value="Sign in" onclick="adminSignIn()">
        </div>
      </aside>
      <div id="admin-toggle" onclick="toggleAdminPanel()">
        <span class="fa-stack fa-2x">
          <i class="fas fa-circle fa-stack-2x"></i>
          <i class="fas fa-cog fa-stack-1x fa-inverse"></i>
        </span>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>

    <script src="assets/js/vue.min.js"></script>
    <script src="app/app.vue.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/sweet-scroll.min.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
