<!DOCTYPE html>

<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Jonathan Cahal, BSE Computer Systems</title>
  <meta name="description" content="My Schnazzy Personal Webpage">

  <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
  <link href="assets/css/all.min.css" rel="stylesheet"> <!-- FontAwesome -->
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png" >

</head>

  <body>
    <div id="app">
      <header>
        <div id="particles">
          <section class="info">
            <h1>Jonathan Cahal</h1>
            <p>Computer Systems Engineer</p>
            <div>
              <a aria-label="Send email" href="mailto:jacahal@gmail.com"><i class="icon-info fa fa-paper-plane" aria-hidden="true"></i></a>
              <a aria-label="My Github" target="_blank" href="https://github.com/jcahal"><i class="icon-info fab fa-github-alt" aria-hidden="true"></i></a>
              <a aria-label="My Résumé" target="_blank" href="https://jcahal.github.io/assets/Jonathan-Cahal-Résumé.pdf"><i class="icon-info fas fa-file-alt"></i></span></a>
            </div>
          </section>
        </div>
      </header>
      <main>
        <h1 class="projects-title">Projects</h1>
        <!-- <i id="projects-loader" class="loader show fas fa-spinner fa-pulse"></i> -->
        <div class="projects">
          <section v-for="project in projects" class="project">
            <h1>{{ project.name }}</h1>
            <img class="project-image" v-bind:src="project.image" v-bind:alt="project.image-atl-text"/>
            <p>{{ project.description }}</p>
            <span v-if="project.url"><a v-bind:href="project.url"><i class="icon-project fas fa-globe" aria-hidden="true"></i></a></span>
            <span v-if="project.source"><a v-bind:href="project.source"><i class="icon-project fab fa-github-alt" aria-hidden="true"></i></a></span>
          </section>
        </div>
        <h1 class="skills-title">Skills</h1>
        <!-- <i id="skills-loader" class="loader show fas fa-spinner fa-pulse"></i> -->
        <div class="skills">
          <ul>
            <li v-for="skill in skills">
              {{ skill.name }}<br>
              <i v-for="level in parseInt(skill.level, 10)" class="fas fa-star"></i>
            </li>
          </ul>
        </div>
      </main>
      <footer>
        <div id="built-with">
          <a href="https://vuejs.org">
            <img src="assets/images/vue-logo.png" />
          </a>
        </div>
      </footer>
    </div>

    <script src="assets/js/vue.min.js"></script>
    <script src="app/data.js"></script>
    <script src="app/app.vue.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/sweet-scroll.min.js"></script>
    <script src="assets/js/main.js"></script>

  </body>
</html>
