@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Special+Elite&display=swap');

/* Main Style */
body {
    font-family: Special Elite, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Fugaz One, serif;
    margin: 0;
}

h1 > small{
    font-family: Special Elite, sans-serif;
}

p {
    margin: .25em 0;
}

header {
    height: 100vh;
    background: #3170ee;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.info {
    text-align: center;
    font-size: 2em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}

.icon-info {
    padding: 10px;
    border-radius: 50%;
    border: 3px solid #FFFFFF;
    color: #FFFFFF;
    transition: 0.5s;
}

.icon-info:hover {
    color: #3170ee;
    background: #FFFFFF;
}

main {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr 3fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
    grid-template-areas:
        ". projects-title . skills-title ."
        ". projects . skills ."
        ". . . . ."
    ;
}

.projects-title {
    grid-area: projects-title;
}

.projects {
    grid-area: projects; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.project {
    margin: 5px;
    align-self: start;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.icon-project {
    padding: 10px;
    border-radius: 50%;
    border: 3px solid #3170ee;
    color: #3170ee;
    transition: 0.5s;
}

.icon-project:hover {
    color: #FFFFFF;
    background: #3170ee;
}

.skills-title {
    grid-area: skills-title;
}

.skills {
    grid-area: skills;
    border-radius: 10px;
    background: #EEAF2F;
    font-size: 1.5em;
}

div.skills > ul {
    list-style: none;
}

div.skills > ul > li > i {
    margin-right: 10px;
}

footer {
    height: 20vh;
    background: #3170EE;
}

footer > a > span.fa-stack {
    position: fixed;
    right: 20px;
    bottom: 20px;
}

footer > a > span > i.fas.fa-circle {
    color: #EEAF2F;
}
